<br>
<div class="contain form-control ">
    <h3 style="font-family: lorem ipsum;">SIGN UP</h3>
    
    <h5 style="font-family:lorem ipsum">Create Your Account</h5>
    <br>
 <div>
      <button class="btn btn-light"><img src="/../assets/image/google.png" style="float: left;" height="70%" width="20%"> Sign up with Google</button>
      
      <button class="btn btn-light" style="float: right;"><img src="/../assets/image/facebook.png" style="float: left;" height="10%" width="12%"> Sign up with facebook</button>
     
     </div>
     <hr data-content="or"> 
    
        <input type="text" class="form-control input" style="font-family: lorem ipsum;" placeholder="First Name" >
     <br>  
        <input type="text" class="form-control input" style="font-family: lorem ipsum;" placeholder="Last Name" >
     <br>  
        <input type="text" class="form-control input" style="font-family: lorem ipsum;" placeholder="Email" [(ngModel)]="user.email">
     <br>  
        <input type="password" class="form-control input" style="font-family: lorem ipsum;" placeholder="Password" [(ngModel)]="user.password">
      <br>
      <p style="font-family: lorem ipsum;">By clicking Sign Up you agree to our <a href="#">Terms of use</a> and <a href="#">Privacy Poliy</a> </p>
     
        <input type="button" style="font-family: lorem ipsum;"class="btn btn-primary btn btn-block" value="Sign Up" (click)="register()">
       
</div> 
<br><br>

                 
     