.img{
    
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:  white;
    width: 80%;
    border-radius: 4px;
    box-shadow: 3px 2px 3px 3px rgba(0.5,0.5,0.5,0.5); 
}